@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	height: 100%;
}

body {
	background: url('images/waves.svg') no-repeat;
	background-size: cover;
}

.main {
	margin-left: 10%;
	margin-top: 15%;
	margin-right: 50%;
}

.text {

}

button {
	margin: 0;
	font-size: 12pt;
	position: relative;
  	border: none;
  	cursor: pointer;
  	padding: 10px 30px 10px 30px;
  	border-radius: 20px;
  	display: inline-block;
  	color: white;
	background-color: #65adff;
	margin-right: 5%;
}

h1 {
	font-size: 24pt;
	padding-bottom: 20px;
}

p	{
	color: gray;
	font-size: 16pt;
	padding-bottom: 20px;
}
