* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1170px;
  min-height: 100vh;
  width: 85vw;
}

.content {
  display: flex;
  flex: 1; 
  flex-direction: column;
}

nav {
  padding: 50px 0;
}

nav li {
  display: inline-block;
  margin-left: 27px;
}

nav ul, footer ul {
  list-style: none;
  float: right;
}

nav a, footer {
  font-size: 14px;
}

h1 {
  font-size: 42px;
  line-height: 67px;
}

p {
  line-height: 34px;
  font-size: 18px;  
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 40px 0;
}